*{
    box-sizing: border-box;
    margin: 0px;
    font-family: roboto;
}

.am{
    background-color: #FFA006;
}

.gr{
    background-color: #E5E5E5;
}

.d-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    width: 100%;
    font-family: roboto;
    font-weight: bold;
    font-size: 18px;
    padding: 30px;
    text-align: center;
}


/*PORTADA*/
.portada{
    height: 500px;
    background-image: url(/img/escritorio.png);
    background-size: cover;
    color: aqua;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-portada{
    height: 180px;
    width: 140px;
    background-color: #FFA006;
    position: relative;
    top: 25px;
    left: 10px;
    display: flex;
    align-items: center;
}

.box-portada img {
    height: 50%;
    margin-left: 19px;
}

.descrip{
    padding: 11px;
    flex-direction: column;
    font-family: roboto;
}

.box-desc{
    flex-direction: column;
    margin: 25px;
}

.box-desc p{
    text-align: center;
}

.descrip img {
    width: 100%;
}

/*ESTUDIOS*/

.estudios{
    background: linear-gradient(to bottom right, #E5E5E5, white);
}


.img-est{
    width: 100%;    
    height: 55%;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.circ-est{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 20px;
    font-family: roboto;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.text-est{
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

/*CARRUSEL*/

.carousel-container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative; 
    background: linear-gradient(to bottom, #E5E5E5, white);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    height: 450px;
    padding: 0px 40px 40px 40px;
}


/* Estilo para los botones del carrusel */
.carousel-btn {
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
}

.carousel-btn-prev {
    left: 10px;
}

.carousel-btn-next {
    right: 10px;
}

/*DOCENCIA*/
.docencia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.img-docencia{
    height: 450px;
    width: 20%;
    background-size: cover;
    background-position:center;
    filter: grayscale(80%);
    transition: all 1s;
}
.img-docencia:hover{
    width: 40%;
}
.box-doc {
    position: absolute;  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    left: 80px;
}
.box-doc img{
    border-radius: 50%;
    border: solid #FFA006 8px;
    height: 150px;
}
.text-doc{
    padding: 10px;
    text-shadow: 0px 0px 20px white;
}

/*TRABAJOS REALIZADOS*/
.trabajos{
    flex-direction: column;
}
.box-diseno{
    width: 100%;
    height: 150px;
    margin-top: 10px;
}
.clip-diseno{
    height: 100%;
    width: 10%;
    background-color: #FFA006;
    margin: 5px;
}
.text-diseno{
    padding: 5px;
}

.title-diseno{
    font-size: 20px;
    padding-bottom: 5px;
}